.study-browser-container {
    display: flex;
}

.study-browser-container .filters {
    width: 30%;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.study-browser-container .data-table {
    width: 70%;
    padding: 10px;
}

button {
    margin-right: 10px;
}
